<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Amazona</title>
</head>

<body>
  <!-- grid container -->
  <div class="container">
    <header class="row">
      <div>
        <a class="brand" href="index.html">amazona</a>
      </div>
      <div>
        <a href="cart.html">Cart</a>
        <a href="signin.html">Sign In</a>
      </div>
    </header>
    <main>
      <!-- products flex container -->
      <div class="row center">
        <!-- product as card and card as flex item -->
        <div class="card">
          <!-- card image -->
          <a href="product.html">
            <!-- 680px by 830px -->
            <img class="medium" src="../img/p1.jpg" alt="product">
          </a>
          <!-- card body -->
          <div class="card-body">
            <!-- product title -->
            <a href="product.html">
              <h2>Nike Slim Shirt</h2>
            </a>
            <!-- stars -->
            <div class="rating">
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
            </div>
            <!-- price -->
            <div class="price">
              $120.00
            </div>
          </div>
        </div>

        <div class="card">
          <!-- card image -->
          <a href="product.html">
            <!-- 680px by 830px -->
            <img class="medium" src="../img/p2.jpg" alt="product">
          </a>
          <!-- card body -->
          <div class="card-body">
            <!-- product title -->
            <a href="product.html">
              <h2>Nike Slim Shirt</h2>
            </a>
            <!-- stars -->
            <div class="rating">
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
            </div>
            <!-- price -->
            <div class="price">
              $120.00
            </div>
          </div>
        </div>

        <div class="card">
          <!-- card image -->
          <a href="product.html">
            <!-- 680px by 830px -->
            <img class="medium" src="../img/p3.jpg" alt="product">
          </a>
          <!-- card body -->
          <div class="card-body">
            <!-- product title -->
            <a href="product.html">
              <h2>Nike Slim Shirt</h2>
            </a>
            <!-- stars -->
            <div class="rating">
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star-half-o"></i></span>
              <span><i class="fa fa-star-o"></i></span>
              <span><i class="fa fa-star-o"></i></span>
            </div>
            <!-- price -->
            <div class="price">
              $120.00
            </div>
          </div>
        </div>

        <div class="card">
          <!-- card image -->
          <a href="product.html">
            <!-- 680px by 830px -->
            <img class="medium" src="../img/p4.jpg" alt="product">
          </a>
          <!-- card body -->
          <div class="card-body">
            <!-- product title -->
            <a href="product.html">
              <h2>Nike Slim Shirt</h2>
            </a>
            <!-- stars -->
            <div class="rating">
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
            </div>
            <!-- price -->
            <div class="price">
              $120.00
            </div>
          </div>
        </div>

        <div class="card">
          <!-- card image -->
          <a href="product.html">
            <!-- 680px by 830px -->
            <img class="medium" src="../img/p5.jpg" alt="product">
          </a>
          <!-- card body -->
          <div class="card-body">
            <!-- product title -->
            <a href="product.html">
              <h2>Nike Slim Shirt</h2>
            </a>
            <!-- stars -->
            <div class="rating">
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star-o"></i></span>
            </div>
            <!-- price -->
            <div class="price">
              $120.00
            </div>
          </div>
        </div>

        <div class="card">
          <!-- card image -->
          <a href="product.html">
            <!-- 680px by 830px -->
            <img class="medium" src="../img/p6.jpg" alt="product">
          </a>
          <!-- card body -->
          <div class="card-body">
            <!-- product title -->
            <a href="product.html">
              <h2>Nike Slim Shirt</h2>
            </a>
            <!-- stars -->
            <div class="rating">
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star-o"></i></span>
              <span><i class="fa fa-star-o"></i></span>
            </div>
            <!-- price -->
            <div class="price">
              $120.00
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="row center">
      All rights reserved!
    </footer>
  </div>
</body>

</html>